<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Weather</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<script src="js/script.js"></script>
<div>
    <div>
        <div>
            <h2 th:if="${report != null}" th:text="${report.getName()}"></h2>
            <input id="search-input" type="text" placeholder="Enter City Name" autofocus>
            <input id="search-button" type="submit" value="Search" onclick="search()">
            <input type="button" value="History" onclick="window.location = 'http://localhost:8080/history'">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Temperature</th>
                <th scope="col">Feels Like</th>
                <th scope="col">Temp. Min.</th>
                <th scope="col">Temp. Max.</th>
                <th scope="col">Humidity</th>
                <th scope="col">Pressure</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${report != null}">
                <td th:text="${report.getTemp() + '°C'}"></td>
                <td th:text="${report.getFeels_like() + '°C'}"></td>
                <td th:text="${report.getTemp_min() + '°C'}"></td>
                <td th:text="${report.getTemp_max() + '°C'}"></td>
                <td th:text="${report.getHumidity() + '%'}"></td>
                <td th:text="${report.getPressure() + 'hpa'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${citynotfound != null}">
        <h2 th:text="${citynotfound}"></h2>
    </div>
</div>
</body>
</html>